body {
    font-family: sans-serif;
}
button {
    border-radius: 8px;
    border-style: none;
    /* font-family: sans-serif; */
    margin: 10px;
}
#svg-layer-controls, #messages {    
    color: white;
    background-color: royalblue;
    display: inline-block; 
    width: 100%;
    text-align: center;
    animation: opacity 100 ease-in-out 0 ;

}
.container {
    width: 474px;
    display: table-cell; 
 /* border: 1px red solid; */
}
.wrapper { display: grid; }  

.svg-cloud {
    display: flex;
    flex-direction: column;
    /* border: 1px blue dotted; */
}

.svg-cloud-row {
    display: flex;
}

.svg-cloud-row div {
    width: 11px;        /* critical: sets eye width dimensions */
    padding-right: 1px; /* critical: makes 1px horizontal spacing between each eye in a row*/
    display: inline-flex;
}

.svg-cloud-row:nth-child(2n) {
    padding-left: 6px;  /* critical: offset the even rows 6px to match game display, changing from appearance from grid to trigrams */
}

.svg-cloud-row div.o { background-color: teal; content: url("../images/eyeforward-t.svg") }
.svg-cloud-row div.u { background-color: orchid; content: url("../images/eyeup-t.svg") }
.svg-cloud-row div.d { background-color: lemonchiffon; content: url("../images/eyedown-t.svg") }
.svg-cloud-row div.r { background-color:navy; content: url("../images/eyeright-t.svg") }
.svg-cloud-row div.l { background-color: powderblue; content: url("../images/eyeleft-t.svg") }
/* TODO: add color controls */
.svg-cloud-row div { background-color: rgba(0, 0, 0, 0) !important; }

 
.e1 { height: 56px;} .e2 { height: 70px;} .e3 { height: 84px;} .e4 { height: 70px;} .e5 { height: 70px;} .w1 { height: 56px;} .w2 { height: 56px;} .w3 { height: 70px;} .w4 { height: 70px;} 

#svg-cloud-layer-r {
    position: absolute;
    top: 25px;
}

ul { margin: 0; padding: 0;}

#diamond {
    visibility: hidden;
    background-image: url(../images/diamond-cleared.png);
    image-rendering: pixelated;
    background-size: contain;
    position: absolute;
    height: 266px;
    width: 219px;
    left: 347px;
    top: 633px;
    scale: 2;
    z-index: -1;
}
#altars {
    visibility: hidden;
    background-image: url(../images/skull-altars.png);
    image-rendering: pixelated;
    background-size: contain;
    position: absolute;
    height: 512px;
    width: 512px;
    left: 208px;
    top: 500px;
    scale: 2;
    z-index: -2;
}

.show { visibility: visible !important; }

/* .eyecloud .eye:hover { box-shadow: red inset 1px 1px 0 0, red inset -1px -1px 0 0; } */
.borders #eyecloud-left > * .eye  { box-shadow: blue inset 1px 1px 0 0, blue inset -1px -1px 0 0; }
.borders #eyecloud-right > * .eye  { box-shadow: red inset 1px 1px 0 0, red inset -1px -1px 0 0; }

/* .borders { box-shadow: red inset 1px 1px 0 0, red inset -1px -1px 0 0; } */
.labels * p.eye {visibility: visible;} 

.overlap { position: absolute; }
.hide { visibility: hidden; }
.controls { background-color: midnightblue; 
    color: white; margin: 20px; padding: 10px; border: 2px green dotted; z-index: 111;
    position: fixed;
    display: flex;
    width: 300px;
    right: 10px;
    bottom: 10px;
    font-size: xx-small;
    font-family: 'Courier New', Courier, monospace;
}

ul.controls li {
    display: flex;
    list-style: none;
    border: yellowgreen 2px dashed;
    align-items: center;
    padding: 5px;
    margin: 5px;}


