.page { width: 100%; }
#eyeclouds { max-width: 1886px; width: 1886px; display: flex;}
#eyecloud-right, #eyecloud-left { width: 946px;  }
.eye { 
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    width: 946px;
    z-index: 10;
}
ul { margin: 0; padding: 0;}
ul li {
    display: flex;
    list-style: none;
    border: yellowgreen 2px dashed;
    align-items: center;
    padding: 5px;
    margin: 5px;}

/* #east1, #east1x { height: 112px; content: url(../images/east1.png); }
#east2, #east2x { height: 140px; content: url(../images/east2.png); }
#east3, #east3x { height: 168px; content: url(../images/east3.png); }
#east4, #east4x { height: 140px; content: url(../images/east4.png); }
#east5, #east5x { height: 140px; content: url(../images/east5.png); }
#west1, #west1x { height: 112px; content: url(../images/west1.png); }
#west2, #west2x { height: 112px; content: url(../images/west2.png); }
#west3, #west3x { height: 140px; content: url(../images/west3.png); }
#west4, #west4x { height: 140px; content: url(../images/west4.png); } */

 
#east1, #east1x { height: 112px; background-image: url(../images/east1.png); }
#east2, #east2x { height: 140px; background-image: url(../images/east2.png); }
#east3, #east3x { height: 168px; background-image: url(../images/east3.png); }
#east4, #east4x { height: 140px; background-image: url(../images/east4.png); }
#east5, #east5x { height: 140px; background-image: url(../images/east5.png); }
#west1, #west1x { height: 112px; background-image: url(../images/west1.png); }
#west2, #west2x { height: 112px; background-image: url(../images/west2.png); }
#west3, #west3x { height: 140px; background-image: url(../images/west3.png); }
#west4, #west4x { height: 140px; background-image: url(../images/west4.png); } 

p { 
    
}

#east1x, #east2x, #east3x, #east4x, #east5x, #west1x, #west2x, #west3x, #west4x {
    z-index: 6;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.wtf {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 20, -1, -8, -4, -5, 9);

    /* transform: matrix3d(1, 0, 0, -1, 0, 1, 0, 0, 0, 0, 1, 0, 15, 0, 0, 1) !important; */
}
/* .mirror {
    transform: matrix();


} */

#diamond {
    visibility: hidden;
    background-image: url(../images/diamond-cleared.png);
    image-rendering: pixelated;
    background-size: contain;
    position: absolute;
    height: 266px;
    width: 219px;
    left: 347px;
    top: 633px;
    scale: 2;
    z-index: -1;
}
#altars {
    visibility: hidden;
    background-image: url(../images/skull-altars.png);
    image-rendering: pixelated;
    background-size: contain;
    position: absolute;
    height: 512px;
    width: 512px;
    left: 208px;
    top: 500px;
    scale: 2;
    z-index: -2;
}

.show { visibility: visible !important; }

/* .eyecloud .eye:hover { box-shadow: red inset 1px 1px 0 0, red inset -1px -1px 0 0; } */
.borders #eyecloud-left > * .eye  { box-shadow: blue inset 1px 1px 0 0, blue inset -1px -1px 0 0; }
.borders #eyecloud-right > * .eye  { box-shadow: red inset 1px 1px 0 0, red inset -1px -1px 0 0; }

/* .borders { box-shadow: red inset 1px 1px 0 0, red inset -1px -1px 0 0; } */
.labels * p.eye {
    
    visibility: visible;
  
 
}
p.eye {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: red;
    z-index: 11111111;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: wavy;
}

.overlap { position: absolute; }
.container { display: table-cell; }
.wrapper { display: grid; }
.hide { visibility: hidden; }
.controls { background-color: midnightblue; 
    color: white; margin: 20px; padding: 10px; border: 2px green dotted; z-index: 111;
    position: fixed;
    display: flex;
    width: 300px;
    right: 10px;
    bottom: 10px;
    font-size: xx-small;
    font-family: 'Courier New', Courier, monospace;
}





